@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-base-100: var(--base-100);
  --color-neutral: var(--neutral);
  --color-neutral-content: var(--neutral-content);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);

  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --sidebar: var(--sidebar);
  --sidebar-foreground: var(--sidebar-foreground);
  --sidebar-primary: var(--sidebar-primary);
  --sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --sidebar-accent: var(--sidebar-accent);
  --sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --sidebar-border: var(--sidebar-border);
  --sidebar-ring: var(--sidebar-ring);
}

:root {
  --primary: #e52329;
  --secondary: #e52329;
  --primary-foreground: #ffffff;
  --secondary-foreground: #ffffff;
  --accent: #031a2f;
  --accent-foreground: #ffffff;
  --base-100: #ffffff;
  --neutral: #211e1f;
  --neutral-content: #4d4d4dec;
  --main-content-bg: #f6f8fa;
  --customInput: #dddddd;
  --background: #ffffff;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --border: #ddddddd4;
  --input: #e5e5e5;
  --ring: #0a0a0a;
  --green: #008000;
  --chart-1: #ed6d51;
  --chart-2: #2c9f87;
  --chart-3: #315c63;
  --chart-4: #e8cb5f;
  --chart-5: #f79a4b;
  --radius: 0.5rem;

  --sidebar: #031a2f;
  --sidebar-foreground: #fff;
  --sidebar-primary: #1a1a1e;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f6;
  --sidebar-accent-foreground: #1a1a1e;
  --sidebar-border: #e2e3eb;
  --sidebar-ring: #4d9bf6;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-neutral;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1300px) {
  .container {
    max-width: 1250px !important;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px #e52329;
}

.text-outline-white {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
}

label {
  color: var(--neutral);
  font-size: 11px;
  display: block;
  margin-bottom: 3px;
}

input::placeholder,
textarea::placeholder {
  color: #a3a3a3;
  font-size: 14px;
}
